<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
            <p class="titre_rouge"><b>Compte créé !</b></p>
            <p style="padding-left: 20px;">Une dernière étape : Merci de cliquer sur le lien de confirmation que tu as dû recevoir par mail.</p>
            <br>
            <br>
            <p style="padding-left: 20px;">Une question ? Contacte-nous à l'adresse <a href="mailto:pilixpiliapp@gmail.com" style="min-width: 240px; color: white; text-decoration: underline;">pilixpiliapp@gmail.com</a>.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>