<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <p class="titre_rouge"><b>Page d'administration</b></p>
        <p style="margin-left: 20px;">Il y a actuellement {{nbr_users}} utilisateurs dont {{nbr_users_actifs}} actifs.</p>
        {% if isadmin == False %}
            <p style="padding-left: 30px;">Désolé, tu n'es pas admin donc tu n'as pas accès à cette page !</p>
        {% else %}
        <button type="button" class="collapsible_block">Paramètres du jeu &nbsp; <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;"></button>
        <div class="content">
            <br>
            <p>Episode en cours (le prochain qui sera diffusé) : {{ episode_en_cours_ }}</p>
            <a href="{% url 'dkllapp:changer_episode' %}" class="btn btn-danger btn-sm">Changer d'épisode</a>
            <br>
            <br>
            <p>Accès aux choix de candidats :</p>
            <form id="form_activations" method="post" style="display: inline-block; width: 100%;">
                {% csrf_token %}
                <div style="display: flex; flex-direction: column; width: 100%;">
                    <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; margin-bottom: 4px;">
                        {% if poulains_ouvert %}
                        <p>Les Poulains sont ouverts</p>
                        <button type="submit" class="btn btn-danger btn-sm" name="run_deactivate_poulains">Désactiver 🦄️</button>
                        {% else %}
                        <p>Les Poulains sont fermés</p>
                        <button type="submit" class="btn btn-danger btn-sm" name="run_activate_poulains">&nbsp;Réactiver 🦄️&nbsp;</button>
                        {% endif %}
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; margin-bottom: 4px;">
                        {% if podium_ouvert %}
                        <p>Le Podium est ouvert</p>
                        <button type="submit" class="btn btn-danger btn-sm" name="run_deactivate_podium">Désactiver 🏅</button>
                        {% else %}
                        <p>Le Podium est fermé</p>
                        <button type="submit" class="btn btn-danger btn-sm" name="run_activate_podium">&nbsp;Réactiver 🏅&nbsp;</button>
                        {% endif %}
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; margin-bottom: 4px;">
                        {% if gagnant_ouvert%}
                        <p>Le Gagnant est ouvert</p>
                        <button type="submit" class="btn btn-danger btn-sm" name="run_deactivate_gagnat">Désactiver 🏆</button>
                        {% else %}
                        <p>Le Gagnant est fermé</p>
                        <button type="submit" class="btn btn-danger btn-sm" name="run_activate_gagnat">&nbsp;Réactiver 🏆&nbsp;</button>
                        {% endif %}
                    </div>
                </div>
                <br>
            </form>
        </div>
        <button type="button" class="collapsible_block" style="margin-top: 10px;">Gestion des Candidats &nbsp; <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;"></button>
        <div class="content">
            <br>
            <div class="btn-profil-container">
                <a href="{% url 'dkllapp:changer_equipe_tv' %}" class="btn btn-danger btn-sm">Changer des équipes TV</a>
                <a href="{% url 'dkllapp:changer_statut' %}" class="btn btn-danger btn-sm">Changer des statuts</a>
            </div>
            <br>
            <br>
        </div>
        <button type="button" class="collapsible_block" style="margin-top: 10px;">Gestion des Pronos &nbsp; <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;"></button>
        <div class="content">
            <br>
            <div class="btn-profil-container">
                <form id="form_pronos" action="" method="POST" style="display: contents;">
                    <input type="submit" class="btn btn-danger btn-sm" name="ajouter_question" value="Ajouter une question" />
                    <input type="submit" class="btn btn-danger btn-sm" name="modifier_question" value="Modifier une question" />
                    <input type="submit" class="btn btn-danger btn-sm" name="ajouter_reponse" value="Ajouter une réponse" />
                    <div>
                            {% csrf_token %}
                            <div style="display: block; justify-content: center;">
                                <label for="id_prono_choisi" class="control-label">Id :</label>
                                <input type="number" name="prono_choisi" autofocus="" autocapitalize="none" autocomplete="prono_choisi"
                                   min="0" class="textinput textInput"id="id_prono_choisi" style="width: 100px;">
                            </div>
                    </div>
                </form>
            </div>
            <br>
            <table width="100%" cellspacing="0" style="border-radius: 10px;">
                <thead style="box-shadow: rgb(151 164 175 / 40%) 0px 10px 10px -10px;">
                    <tr>
                        <th width="8%" style="text-align: center;">ID</th>
                        <th style="text-align: center;">Question</th>
                        <th style="text-align: center;">Proposit°</th>
                        <th width="8%" style="text-align: center;">Ep</th>
                        <th width="8%" style="text-align: center;">+</th>
                        <th width="8%" style="text-align: center;">-</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question_plus in questions_plus %}
                    <tr>
                        <td style="text-align: center;">{{ question_plus.question.id }}</td>
                        <td style="text-align: center;">{{ question_plus.question.enonce }}</td>
                        <td style="text-align: center;">
                            {% for proposition in question_plus.propositions %}
                            {% if proposition.pertinence %}
                            <span style="color: #DA071F;">{{ proposition.texte }}</span>
                            {% else %}
                            <span>{{ proposition.texte }}</span>
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td style="text-align: center;">{{ question_plus.question.episode }} </td>
                        <td style="text-align: center;">{{ question_plus.question.bonus }} </td>
                        <td style="text-align: center;">{{ question_plus.question.malus }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
        <button type="button" class="collapsible_block" style="margin-top: 10px;">Gestion des Règles &nbsp; <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;"></button>
        <div class="content">
            <br>
            <div style="display: flex; align-items: center; justify-content: space-around;">
                <form id="form_regle" action="" method="POST" style="display: contents;">
                    {% csrf_token %}
                    <div style="display: block; justify-content: center;">
                        <label for="id_regle_a_modifier" class="control-label">Id :</label>
                        <input type="text" name="regle_a_modifier" autofocus="" autocapitalize="none"
                               autocomplete="regle_a_modifier" maxlength="999" class="textinput textInput"
                               id="id_regle_a_modifier" style="width: 120px;">
                        <button class="btn btn-danger btn-sm" type="submit" style="width: 150px;">Modifier une règle</button>
                    </div>
                    <div>
                        <a href="{% url 'dkllapp:modifier_regle' 0 %}" class="btn btn-danger btn-sm" style="width: 150px;">Ajouter une règle</a>
                    </div>
                </form>
            </div>
            <br>
            <table width="100%" cellspacing="0" style="border-radius: 10px;">
                <thead style="box-shadow: rgb(151 164 175 / 40%) 0px 10px 10px -10px;">
                    <tr>
                        <th width="8%" style="text-align: center;">ID</th>
                        <th style="text-align: center;">Règle</th>
                        <th width="8%" style="text-align: center;">🦄️</th>
                        <th width="8%" style="text-align: center;">🏅</th>
                        <th width="8%" style="text-align: center;">🏆</th>
                    </tr>
                </thead>
                <tbody>
                    {% for regle in regles %}
                    <tr>
                        <td style="text-align: center;">{{ regle.id }}</td>
                        <td style="text-align: center;">{{ regle.contenu }} </td>
                        <td style="text-align: center;">{{ regle.points_1 }} </td>
                        <td style="text-align: center;">{{ regle.points_2 }} </td>
                        <td style="text-align: center;">{{ regle.points_3 }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="button" class="collapsible_block" style="margin-top: 10px;">Gestion des Evènements &nbsp; <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;"></button>
        <div class="content">
            <br>
            <div style="display: flex; align-items: center; justify-content: space-around;">
                <form id="form_evenement" action="" method="POST" style="display: contents;">
                    {% csrf_token %}
                    <div style="display: block; justify-content: center;">
                        <label for="id_evenement_a_supprimer" class="control-label">Id :</label>
                        <input type="text" name="evenement_a_supprimer" autofocus="" autocapitalize="none"
                               autocomplete="evenement_a_supprimer" maxlength="999" class="textinput textInput"
                               id="id_evenement_a_supprimer" style="width: 120px;">
                        <button class="btn btn-danger btn-sm" type="submit" style="width: 150px;">Supprimer un évènement</button>
                    </div>
                    <div>
                        <a href="{% url 'dkllapp:ajouter_evenement' %}" class="btn btn-danger btn-sm" style="width: 150px;">Ajouter un évènement</a>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <p style="padding-left: 8px;">Liste des évènements enregistrés</p>
            <p style="padding-left: 8px; font-size: 12px;">Typages : 1 = Poulains, 2 = Podium, 3 = Gagnants, 12 = Poulains & Podium, 13 = Poulains & Gagnants, 23 = Podium & Gagnants, 123 = Poulains & Podium & Gagnants</p>
            <table width="100%" cellspacing="0" style="border-radius: 10px;">
                <thead style="box-shadow: rgb(151 164 175 / 40%) 0px 10px 10px -10px;">
                    <tr>
                        <th style="text-align: center; font-size: 12px;">ID</th>
                        <th style="text-align: center; font-size: 12px;">Ep.</th>
                        <th style="text-align: center; font-size: 12px;">Typ.</th>
                        <th width="30%" style="text-align: center;">Candidat</th>
                        <th width="30%">Regle</th>
                        <th style="text-align: center;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for evenement in evenements %}
                    <tr>
                        <td style="text-align: center;">{{ evenement.id }}</td>
                        <td style="text-align: center;">{{ evenement.episode }}</td>
                        <td style="text-align: center;">{{ evenement.typage }}</td>
                        <td style="text-align: center; font-size: 12px;"><img class="candidat_equipe_ligue" src="{% static evenement.candidat__chemin_img %}"><br>{{ evenement.candidat__nom }}</td>
                        <td>{{ evenement.regle__contenu }}</td>
                        <td style="text-align: center; font-size: 12px;">{{ evenement.user__user__username }}
                                                    <br>{{ evenement.insert_datetime|date:"d/m/Y" }}
                                                    <br>{{ evenement.insert_datetime|time:"H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="button" class="collapsible_block" style="margin-top: 10px;">Envoyer un mail Admin &nbsp; <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;"></button>
        <div class="content">
            <br>
            <form id="form_mail" action="" method="POST">
                {% csrf_token %}
                    <label for="id_sujet" class="control-label requiredField">Sujet<span class="asteriskField">*</span></label>
                    <input type="text" name="sujet" autofocus="" autocapitalize="none" autocomplete="sujet" maxlength="999" class="textinput textInput" required="" id="id_sujet">
                    <br>
                    <label for="id_corps">Texte du mail :</label>
                    <br>
                    <textarea name="corps" maxlength="99999" required="" id="id_corps" rows="5" style="width: 100%;"></textarea>
                    <br>
                    <div style="display:flex; justify-content: space-around;">
                        <div class="form-check" style="display: flex; justify-content: space-around">
                            <input class="form-check-input" type="checkbox" name="admin" id="id_admin">
                            <label class="form-check-label" for="id_admin">Admin</label>
                        </div>
                        <div class="form-check" style="display: flex; justify-content: space-around">
                            <input type="checkbox" class="form-check-input" name="users" id="id_users"><br>
                            <label class="form-check-label" for="id_users">Users</label>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-danger btn-sm" type="submit" onclick="this.disabled=true,this.form.submit();">Envoyer</button>
            </form>
            <br>
        </div>
        <button type="button" class="collapsible_block" style="margin-top: 10px;">Envoyer un message notification Admin &nbsp; <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;"></button>
        <div class="content">
            <br>
            <form id="form_notif" action="" method="POST">
                {% csrf_token %}
                    <label for="id_message">Notification à envoyer :</label>
                    <br>
                    <label for="id_lien" class="control-label requiredField">Lien (à partir du / après .fr, exemple /generales pour les règles) :</label>
                    <input type="text" name="lien" autofocus="" autocapitalize="none" autocomplete="lien" maxlength="999" class="textinput textInput" required="" id="id_lien" value="/">
                    <br>
                    <textarea name="message" maxlength="9999" required="" id="id_message" rows="5" style="width: 100%;"></textarea>
                    <br>
                    <button class="btn btn-danger btn-sm" type="submit" onclick="this.disabled=true,this.form.submit();">Envoyer</button>
            </form>
            <br>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
