{% load static %}
<section style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
                color:#2B3F60; font-size:12px;
                padding: 0;
                align-items: center;
                display: none;">
    <p style="flex: 0 0 auto; margin:0; padding-right:1rem; color:#2B3F60;">
        Web page was
        <a href="https://mobirise.site/g" style="color:#2B3F60;;">started</a>
        with Mobirise
    </p>
</section>
<script src="{% static 'dkllapp/assets/web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dkllapp/assets/popper/popper.min.js' %}"></script>
<script src="{% static 'dkllapp/assets/tether/tether.min.js' %}"></script>
<script src="{% static 'dkllapp/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dkllapp/assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'dkllapp/assets/dropdown/js/nav-dropdown.js' %}"></script>
<script src="{% static 'dkllapp/assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'dkllapp/assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
