{% load static %}
<script src="{% static 'dkllapp/miri-ui/src/vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'dkllapp/miri-ui/src/vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'dkllapp/miri-ui/src/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dkllapp/miri-ui/src/js/miri-ui-kit.js' %}"></script>
<script src="{% static 'dkllapp/miri-ui/src/js/collapsible-standard.js' %}"></script>
<script src="{% static 'dkllapp/miri-ui/src/js/collapsible-flex.js' %}"></script>

<!-- -->