<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <p class="titre_rouge"><b>Bonus</b></p>
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
            <div>
                <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width="20%" style="display: flex;
                        align-items: center; text-aling: center; justify-content: center;
                        width: 100%; height: 100%;
                        padding: 10px; background-color: #DA071F;">
                             Total : {{ points_feu.feu }} 🔥
                        </td>
                    </tr>
                </tbody>
                </table>
                <br>
                {% for episode in liste_episode %}
                <p>Episode {{ episode }}</p>
                    {% for question_plus in questions_plus %}
                    {% if question_plus.question.episode == episode %}
                    <table class="table2" cellspacing="0" >
                    <tbody>
                        <tr class="tr2">
                            {% if question_plus.repondu %}
                            <!-- prono avec réponse officielle -->
                                {% if question_plus.guess == None %}
                                <!-- prono sans réponse user -->
                                    <!-- 3) prono avec réponse officielle et pas de réponse du user -->
                                    <td class="td2" width="55%" style="padding: 10px; ">
                                        <p><b>{{ question_plus.question.enonce }}</b></p>
                                        <div style="display: flex; align-items: center; flex-flow: row wrap; margin-top: 10px;">
                                            <div style="width: 180px; font-size: 12px;">Tu n'as pas répondu.</div>
                                        </div>
                                        <div style="display: flex; align-items: center; flex-flow: row wrap; margin-top: 10px;">
                                            <div style="width: 115px; font-size: 12px;">La bonne réponse :</div>
                                            <div style="border-radius: 5px; padding: 2px 8px 2px 8px; margin: 8px;">
                                                <i class="mdi mdi-check-circle"></i>
                                                {% for proposition in question_plus.propositions %}
                                                {% if proposition.pertinence %}
                                                {{ proposition.texte }}
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td2" width="10%" style="background-color: #e4e5e7; color: #272B2C;">
                                            <div style="display: flex; align-items: center; text-align: center; justify-content: center; padding: 10px;">
                                                0
                                            </div>
                                        </td>
                                {% else %}
                                <!-- prono avec réponse user -->
                                    {% if question_plus.guess.proposition__pertinence %}
                                        <!-- 1) prono avec réponse officielle et bonne réponse du user -->
                                        <td class="td2" width="55%" style="padding: 10px; ">
                                            <p><b>{{ question_plus.question.enonce }}</b></p>
                                            <div style="display: flex; align-items: center; flex-flow: row wrap; margin-top: 10px;">
                                                <div style="width: 115px; font-size: 12px;">Ta réponse :</div>
                                                <div style="border-radius: 5px; background-color: #009051; padding: 2px 8px 2px 8px; margin: 8px;">
                                                    <i class="mdi mdi-account-check"></i>
                                                    {% for proposition in question_plus.propositions %}
                                                    {% if question_plus.guess.proposition_id == proposition.id %}
                                                    {{ proposition.texte }}
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div style="display: flex; align-items: center; flex-flow: row wrap;">
                                                <div style="width: 115px; font-size: 12px;">La bonne réponse :</div>
                                                <div style="border-radius: 5px; padding: 2px 8px 2px 8px; margin: 8px;">
                                                    <i class="mdi mdi-check-circle"></i>
                                                    {% for proposition in question_plus.propositions %}
                                                    {% if proposition.pertinence %}
                                                    {{ proposition.texte }}
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="td2" width="10%" style="background-color: #009051;">
                                            <div style="display: flex; align-items: center; text-align: center; justify-content: center; padding: 10px;">
                                                +{{question_plus.question.bonus}}
                                            </div>
                                        </td>
                                    {% else %}
                                        <!-- 2) prono avec réponse officielle et mauvaise réponse du user -->
                                        <td class="td2" width="55%" style="padding: 10px; ">
                                            <p><b>{{ question_plus.question.enonce }}</b></p>
                                            <div style="display: flex; align-items: center; flex-flow: row wrap; margin-top: 10px;">
                                                <div style="width: 115px; font-size: 12px;">Ta réponse :</div>
                                                <div style="border-radius: 5px; background-color: #941B30; padding: 2px 8px 2px 8px; margin: 8px;">
                                                    <i class="mdi mdi-account-alert"></i>
                                                    {% for proposition in question_plus.propositions %}
                                                    {% if question_plus.guess.proposition_id == proposition.id %}
                                                    {{ proposition.texte }}
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div style="display: flex; align-items: center; flex-flow: row wrap;">
                                                <div style="width: 115px; font-size: 12px;">La bonne réponse :</div>
                                                <div style="border-radius: 5px; padding: 2px 8px 2px 8px; margin: 8px;">
                                                    <i class="mdi mdi-check-circle"></i>
                                                    {% for proposition in question_plus.propositions %}
                                                    {% if proposition.pertinence %}
                                                    {{ proposition.texte }}
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="td2" width="10%" style="background-color: #941B30;">
                                            <div style="display: flex; align-items: center; text-align: center; justify-content: center; padding: 10px;">
                                                {{question_plus.question.malus}}
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                            <!-- prono sans réponse officielle -->
                            <td class="td2" width="50%" style="padding: 10px; ">
                                <p><b>{{ question_plus.question.enonce }}</b></p>
                                <div style="display: flex; flex-flow: row wrap;">
                                    {% for proposition in question_plus.propositions %}
                                    {% if question_plus.guess.proposition_id == proposition.id %}
                                    <div style="border-radius: 5px; background-color: #e4e5e7; color: #1D2020; padding: 2px 8px 2px 8px; margin: 8px;">
                                        {{ proposition.texte }}
                                    </div>
                                    {% else %}
                                    <div style="border-radius: 5px; border: solid 1px #e4e5e7; padding: 2px 8px 2px 8px; margin: 8px;">
                                        {{ proposition.texte }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>


                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                    </table>
                    <br>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class=" bottom_menu fixed-bottom">{% include 'dkllapp/pronos_menu.html' %}</div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
