<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <div style="padding-left: 30px;">
            <div style="display: flex; align-items: center;">
                <a href="{% url 'dkllapp:picto' '1' %}">
                    <img style="width: 50px; height: 50px;" src="{% static current_userprofile.img %}">
                </a>
                <b style="padding-left: 15px;">{{ user.username }}</b>
            </div>
            <br>
        </div>
        <br>
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=10% style="padding: 10px;">
                            <span style="font-size: 35px;">🦄</span>
                        </td>
                        <td class="td2" style="padding: 10px; display: flex; flex-flow: row wrap;  min-width: 260px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 1 %}
                            <div style="display: flex;width: 80px;">
                                <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                                    {% if candidat.candidat__equipe_tv == 'Bleu' %}
                                    <img style="height: 30px; position: relative; top: 40px; left: -25px;" src="{% static 'dkllapp/img/tribus/toque_bleu.png' %}">
                                    {% elif candidat.candidat__equipe_tv == 'Rouge' %}
                                    <img style="height: 30px; position: relative; top: 40px; left: -25px;" src="{% static 'dkllapp/img/tribus/toque_rouge.png' %}">
                                    {% elif candidat.candidat__equipe_tv == 'Orange' %}
                                    <img style="height: 30px; position: relative; top: 40px; left: -25px;" src="{% static 'dkllapp/img/tribus/toque_orange.png' %}">
                                    {% elif candidat.candidat__equipe_tv == 'Violet' %}
                                    <img style="height: 30px; position: relative; top: 40px; left: -25px;" src="{% static 'dkllapp/img/tribus/toque_violet.png' %}">
                                    {% endif %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="td2" width=15% style="padding: 10px;">
                            {% if poulains_ouvert %}
                            <a type href="{% url 'dkllapp:choix' 1 'profil' '1' %}">
                            <button type="button" class="btn btn-danger btn-sm" style="padding: 0px;"><i class="mdi mdi-account-edit" style="font-size: 30px;"></i></button></a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=10% style="padding: 10px;">
                            <span style="font-size: 35px;">🏅</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 2 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="td2" width=15% style="padding: 10px;">
                            {% if podium_ouvert %}
                            <a type href="{% url 'dkllapp:choix' 2 'profil' '1' %}">
                            <button type="button" class="btn btn-danger btn-sm" style="padding: 0px;"><i class="mdi mdi-account-edit" style="font-size: 30px;"></i></button></a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=10% style="padding: 10px;">
                            <span style="font-size: 35px;">🏆</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 3 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="td2" width=15% style="padding: 10px;">
                            {% if gagnant_ouvert %}
                            <a type href="{% url 'dkllapp:choix' 3 'profil' '1' %}">
                            <button type="button" class="btn btn-danger btn-sm" style="padding: 0px;"><i class="mdi mdi-account-edit" style="font-size: 30px;"></i></button></a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class=" bottom_menu fixed-bottom">{% include 'dkllapp/profil_menu.html' %}</div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
