<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
            <p class="titre_rouge"><b>Candidats de la Saison 13</b></p>
            {% if isadmin == True %}
            <div class="btn-profil-container">
                <a href="{% url 'dkllapp:changer_equipe_tv' %}" class="btn btn-danger btn-sm">Changer des tribus</a>
                <a href="{% url 'dkllapp:changer_statut' %}" class="btn btn-danger btn-sm">Changer des statuts</a>
            </div>
            {% endif %}
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: blue;">
                            <span style="font-size: 35px;"></span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            <div style="display: flex; flex-flow: row wrap;">
                            {% for candidat in candidats %}
                            {% if candidat.equipe_tv == 'Bleue' %}
                                <div style="margin: 5px; text-align: center;">
                                    <img class="candidat_index" src="{% static candidat.chemin_img %}">
                                    <br>{{candidat.nom}}
                                </div>
                            {% endif %}
                            {% endfor %}
                            </div>
                        </td>
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: blue;">
                            <span style="font-size: 35px;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: red;">
                            <span style="font-size: 35px;"></span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            <div style="display: flex; flex-flow: row wrap;">
                            {% for candidat in candidats %}
                            {% if candidat.equipe_tv == 'Rouge' %}
                                <div style="margin: 5px; text-align: center;">
                                    <img class="candidat_index" src="{% static candidat.chemin_img %}">
                                    <br>{{candidat.nom}}
                                </div>
                            {% endif %}
                            {% endfor %}
                            </div>
                        </td>
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: red;">
                            <span style="font-size: 35px;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: purple;">
                            <span style="font-size: 35px;"></span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            <div style="display: flex; flex-flow: row wrap;">
                            {% for candidat in candidats %}
                            {% if candidat.equipe_tv == 'Violette' %}
                                <div style="margin: 5px; text-align: center;">
                                    <img class="candidat_index" src="{% static candidat.chemin_img %}">
                                    <br>{{candidat.nom}}
                                </div>
                            {% endif %}
                            {% endfor %}
                            </div>
                        </td>
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: purple;">
                            <span style="font-size: 35px;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: #FF6F00;">
                            <span style="font-size: 35px;"></span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            <div style="display: flex; flex-flow: row wrap;">
                            {% for candidat in candidats %}
                            {% if candidat.equipe_tv == 'Orange' %}
                                <div style="margin: 5px; text-align: center;">
                                    <img class="candidat_index" src="{% static candidat.chemin_img %}">
                                    <br>{{candidat.nom}}
                                </div>
                            {% endif %}
                            {% endfor %}
                            </div>
                        </td>
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: #FF6F00;">
                            <span style="font-size: 35px;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: white;">
                            <span style="font-size: 35px;"></span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            <div style="display: flex; flex-flow: row wrap;">
                            {% for candidat in candidats %}
                            {% if candidat.equipe_tv == 'Blanche' %}
                                <div style="margin: 5px; text-align: center;">
                                    <img class="candidat_index" src="{% static candidat.chemin_img %}">
                                    <br>{{candidat.nom}}
                                </div>
                            {% endif %}
                            {% endfor %}
                            </div>
                        </td>
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: white;">
                            <span style="font-size: 35px;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: black;">
                            <span style="font-size: 35px;"></span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            <div style="display: flex; flex-flow: row wrap;">
                            {% for candidat in candidats %}
                            {% if candidat.equipe_tv == 'Eliminés' %}
                                <div style="margin: 5px; text-align: center;">
                                    <img class="candidat_index" src="{% static candidat.chemin_img %}">
                                    <br>{{candidat.nom}}
                                </div>
                            {% endif %}
                            {% endfor %}
                            </div>
                        </td>
                        <td class="td2" width=1% style="padding: 10px; text-align: center; background-color: black;">
                            <span style="font-size: 35px;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <br>
    <br>
    </div>
    <br>
    <br>
    <br>
    <div class=" bottom_menu fixed-bottom">{% include 'dkllapp/regles_menu.html' %}</div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
