<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <p style="padding-left: 30px; color: #f12459;"><b>Changer d'episode</b></p>
        {% if isadmin == False %}
            <p style="padding-left: 30px;">Désolé, tu n'es pas admin donc tu n'as pas accès à cette page !</p>
        {% else %}
        <div style="padding-left: 15px; padding-right: 15px;">
            <form method="POST">
                {% csrf_token %}
                <div id="div_id_nom" class="control-group">
                    <label for="id_new_episode" class="control-label requiredField">Numéro d'épisode<span class="asteriskField">*</span></label>
                    <div class="controls">
                        <input type="number" name="new_episode" autofocus="" autocapitalize="none" autocomplete="new_episode"
                               min="0" class="textinput textInput" required="" id="id_new_episode">
                    </div>
                </div>
                <br>
                <button class="btn btn-danger btn-sm" type="submit">Changer</button>
            </form>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
