<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <p class="titre_rouge"><b>Changer les equipes TV</b></p>
        {% if isadmin == False %}
            <p style="padding-left: 30px;">Désolé, tu n'es pas admin donc tu n'as pas accès à cette page !</p>
        {% else %}
        <div style="padding-left: 15px; padding-right: 15px;">
            <form method="POST">
                {% csrf_token %}
                <div style="display: flex; flex-flow: row wrap;">
                    {% for field in form %}
                    {% if field.name == 'groupes' %}
                    {% else %}
                    <div class="form-check_candidat" style="flex-wrap: nowrap;">
                        <input class="form-check-input_candidat" type="checkbox" id={{field.name}} name={{field.name}}>
                        {% for candidat in candidats %}
                        <script type="text/javascript">if ("{{field.name}}".substring(4,6) == ("0" + {{candidat.id}}).slice(-2)) {
                                                            lbl = document.createElement("label");
                                                            lbl.setAttribute("class","form-check-label_candidat")
                                                            lbl.setAttribute("for","{{field.name}}")

                                                            img = document.createElement("img");
                                                            img.setAttribute("src", "{% static candidat.chemin_img %}");
                                                            img.setAttribute("class", "candidat_profile");
                                                            lbl.appendChild(img)
                                                            p = document.createElement("p");
                                                            p.innerText = "{{candidat.nom}}"
                                                            lbl.appendChild(p)

                                                            input_tag = document.getElementById("{{ field.name }}");
                                                            input_tag.parentNode.insertBefore(lbl, input_tag.nextSibling.nextSibling.nextSibling);

                                                            toque = document.createElement("img");
                                                            toque.setAttribute("style", "height: 30px; width: 30px; position: relative; top: 0px; right: 40px; border: none;")

                                                            if ("{{candidat.equipe_tv}}" == "Bleu") {
                                                                toque.setAttribute("src", "{% static 'dkllapp/img/tribus/toque_bleu.png' %}");
                                                                input_tag = document.getElementById("{{ field.name }}");
                                                                input_tag.parentNode.insertBefore(toque, input_tag.nextSibling.nextSibling.nextSibling.nextSibling);}
                                                            else if ("{{candidat.equipe_tv}}" == "Rouge") {
                                                                toque.setAttribute("src", "{% static 'dkllapp/img/tribus/toque_rouge.png' %}");
                                                                input_tag = document.getElementById("{{ field.name }}");
                                                                input_tag.parentNode.insertBefore(toque, input_tag.nextSibling.nextSibling.nextSibling.nextSibling);}
                                                            else if ("{{candidat.equipe_tv}}" == "Orange") {
                                                                toque.setAttribute("src", "{% static 'dkllapp/img/tribus/toque_orange.png' %}");
                                                                input_tag = document.getElementById("{{ field.name }}");
                                                                input_tag.parentNode.insertBefore(toque, input_tag.nextSibling.nextSibling.nextSibling.nextSibling);}
                                                            else if ("{{candidat.equipe_tv}}" == "Violet") {
                                                                toque.setAttribute("src", "{% static 'dkllapp/img/tribus/toque_violet.png' %}");
                                                                input_tag = document.getElementById("{{ field.name }}");
                                                                input_tag.parentNode.insertBefore(toque, input_tag.nextSibling.nextSibling.nextSibling.nextSibling);}
                                                            else if ("{{candidat.equipe_tv}}" == "Blanche") {
                                                                toque.setAttribute("src", "{% static 'dkllapp/img/tribus/toque_blanc.png' %}");
                                                                input_tag = document.getElementById("{{ field.name }}");
                                                                input_tag.parentNode.insertBefore(toque, input_tag.nextSibling.nextSibling.nextSibling.nextSibling);}
                                                            else {
                                                                toque.setAttribute("src", "{% static 'dkllapp/img/tribus/toque_vide.png' %}");
                                                                input_tag = document.getElementById("{{ field.name }}");
                                                                input_tag.parentNode.insertBefore(toque, input_tag.nextSibling.nextSibling.nextSibling.nextSibling);};
                                                        } else {};
                        </script>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <br>
                    {% endfor %}
                </div>
                <br>
                <label style="padding-left: 15px;" for="id_groupes">Groupes:&nbsp;</label>
                <select name="groupes" id="id_groupes">
                    <option value="Bleu">Bleu</option>
                    <option value="Orange">Orange</option>
                    <option value="Rouge">Rouge</option>
                    <option value="Violet">Violet</option>
                    <option value="Blanc">Blanc</option>
                    <option value="Eliminés">Eliminés</option>
                </select>
                <br>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger btn-sm" type="submit">Changer</button>
            </form>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
