<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
<div class="mainwrapper">
        <p class="titre_rouge"><b>Classement Général</b></p>
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
            <table width="100%" cellspacing="0" style="border-radius: 10px;">
                <thead style="box-shadow: rgb(151 164 175 / 40%) 0px 10px 10px -10px;">
                    <tr height="50px">
                        <th width="10%" style="text-align: center;"></th>
                        <th width="36%" style="font-size: 15px; padding-left: 15px;">Joueur</th>
                        <th width="18%" style="font-size: 15px; text-align: center;" >🌶️</th>
                        <th width="18%" style="font-size: 15px; text-align: center;" >🔥</th>
                        <th width="18%" style="font-size: 15px; text-align: center;" >⭐</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membre in membres_sorted %}
                    <tr height="90px">
                        <td style="text-align: center; padding-top: 16px;">
                            <div class="circle_div" style="margin-bottom: 0px;">
                                <span class="middle_circle round"><b>{{ membre.rang }}.</b></span>
                            </div>
                        </td>
                        <td style="font-size: 15px; word-wrap: break-word;">
                            <div style="display: flex; align-items: center;">
                                <img class="picto_index" style="border-radius: 0px;" src="{% static membre.img %}">
                                <div style="display: flex; flex-direction: column;
                                align-items: flex-start; justify-content: center; padding-left: 10px;">
                                    <div style="margin: 0px; padding: 0px;">
                                         <p style="width: 120px; font-size: 14px; padding: 0px; margin: 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ membre.username }}</p>
                                    </div>
                                    <div style="margin: 0px; padding: 0px;">
                                        <p style="width: 120px; font-size: 12px; color: #DA071F; padding: 0px; margin: 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ membre.ligue }}</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="font-size: 15px; text-align: center;">{{ membre.points_candidats }}</td>
                        <td style="font-size: 15px; text-align: center;">{{ membre.points_feu }}</td>
                        <td style="font-size: 15px; text-align: center;"><b>{{ membre.total }}</b></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <p>
                <span style="padding-left: 8px; font-size:12px;">🌶️️ &nbsp; : Pilis marqués grâce aux Candidats</span><br>
                <span style="padding-left: 8px; font-size:12px;">🔥 &nbsp; : Bonus marqués grâce aux Pronos</span><br>
                <span style="padding-left: 8px; font-size:12px;">⭐ &nbsp; : Total des pilis</span>
            </p>
            <br>
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
