<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <form action="" method="POST" novalidate class="mbr-form form-with-styler" data-form-title="Register Form"><input type="hidden">
            {{ form.hidden_tag() }}
            <div class="dragArea row" style="padding: 5px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form.nom(class_="form-control", placeholder="Nom de la ligue", style="max-width: 300px;") }}
                    {% if form.nom.errors %}{% for error in form.nom.errors %}<span style="color: #62B8B1;">{{ error }}</span>{% endfor %}{% endif %}
                </div>
            </div>
            <div class="dragArea row" style="padding: 5px;">
                <div class="mbr-section-btn col-md-auto col">
                    <div>{{ form.submit(class_="btn btn-warning display-4") }}</div>
                </div>
            </div>
        </form>
    </div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
