<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <p class="titre_rouge"><b>{{ current_ligue.nom }}</b></p>
        <p style="padding-left: 20px; margin: 0px;"><b>Mon équipe de la semaine - Episode {{ episode_en_cours_ }}</b></p>
        {% if equipe_non_faite == True %}
        <p style="padding-left: 16px; margin: 0px;">⏳ Tu n'as pas encore fait ton equipe cette semaine.</p>
        {% endif %}
        <br>
        <div style="padding-left: 15px; padding-right: 15px;">
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" style="padding: 10px;">
                            <div style="display: flex;">
                                {% for candidat in equipe %}
                                {% if candidat.type == 1 %}
                                <div style="display: flex; flex-flow: row wrap; width: 100px; justify-content: center;">
                                    <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                                    <p style="text-align: center; margin-bottom: 0px;">{{ candidat.candidat__nom }}<br><span style="font-size: 12px;">{{ candidat.candidat__equipe_tv }}</span></p>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="padding-left: 15px; padding-right: 15px;">
            <a type href="{% url 'dkllapp:faire_equipe' current_ligue.id before_creation '1' %}">
                <button type="button" class="btn btn-danger btn-sm">Changer mon équipe de la semaine</button></a>
        </div>
        <br>
        <button type="button" class="collapsible_block" id="candidats" style="margin-top: 10px;">
            <div style="width: 30px;">
                <span style="font-size: 20px; left: 10px; ">🦄</span>
            </div>
            Mes Candidats
            <img src="{% static 'dkllapp/img/triarrowdown.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;">
        </button>
        <div class="content">
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=15% style="padding: 10px;">
                            <span style="font-size: 35px;">🦄</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 1 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="td2" width=15% style="padding: 10px;">
                            {% if poulains_ouvert %}
                            <a type href="{% url 'dkllapp:choix' 1 before_creation '1' %}">
                            <button type="button" class="btn btn-danger btn-sm" style="padding: 0px;"><i class="mdi mdi-account-edit" style="font-size: 30px;"></i></button></a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=15% style="padding: 10px;">
                            <span style="font-size: 35px;">🏅</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 2 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="td2" width=15% style="padding: 10px;">
                            {% if podium_ouvert %}
                            <a type href="{% url 'dkllapp:choix' 2 before_creation '1' %}">
                            <button type="button" class="btn btn-danger btn-sm" style="padding: 0px;"><i class="mdi mdi-account-edit" style="font-size: 30px;"></i></button></a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=15% style="padding: 10px;">
                            <span style="font-size: 35px;">🏆</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 3 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="td2" width=15% style="padding: 10px;">
                            {% if gagnant_ouvert %}
                            <a type href="{% url 'dkllapp:choix' 3 before_creation '1' %}">
                            <button type="button" class="btn btn-danger btn-sm" style="padding: 0px;"><i class="mdi mdi-account-edit" style="font-size: 30px;"></i></button></a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
        <br>
        <button type="button" class="collapsible_block" id="historique" style="margin-top: 10px;">
            <div style="width: 30px;">
                <span style="font-size: 20px; left: 10px; ">⌛</span>
            </div>
            Mes équipes des semaines passées
            <img src="{% static 'dkllapp/img/triarrowdown.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;">
        </button>
        <div class="content">
            <br>
            {% for episode in liste_episode %}
            <p>Episode : {{ episode }}</p>
            <table class="table2" cellspacing="0" >
                    <tbody>
                        <tr class="tr2">
                            <td class="td2" style="padding: 10px;">
                                <div style="display: flex;">
                                    {% for candidat in equipes %}
                                    {% if candidat.episode == episode %}
                                    <div style="display: flex; flex-flow: row wrap; width: 100px; justify-content: center;">
                                        <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                                        <p style="text-align: center; margin-bottom: 0px;">{{ candidat.candidat__nom }}<br><span style="font-size: 12px;">{{ candidat.candidat__equipe_tv }}</span></p>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <br>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
    <div class=" bottom_menu fixed-bottom">{% include 'dkllapp/ligue_menu.html' %}</div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
