<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <p class="titre_rouge"><b>FAQ</b></p>
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
            <p>Ici, à venir, une FAQ</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class=" bottom_menu fixed-bottom">{% include 'dkllapp/regles_menu.html' %}</div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
