{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Pili Pili">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'dkllapp/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'dkllapp/img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'dkllapp/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'dkllapp/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#da071f">
<meta name="msapplication-TileColor" content="#da071f">
<meta name="theme-color" content="#ffffff">

<!-- Vendor css -->
<link rel="stylesheet" href="{% static 'dkllapp/miri-ui/src/vendors/@mdi/font/css/materialdesignicons.min.css' %}">
<!-- Base css with customised bootstrap included -->
<link rel="stylesheet" href="{% static 'dkllapp/miri-ui/src/css/miri-ui-kit-free.css' %}">

<link rel="apple-touch-startup-image" sizes="640x1136" href="/static/dkllapp/img/favicon/splashscreens/iphone5_splash.png"/>
<link rel="apple-touch-startup-image" sizes="750x1334" href="/static/dkllapp/img/favicon/splashscreens/iphone6_splash.png"/>
<link rel="apple-touch-startup-image" sizes="1242x2208" href="/static/dkllapp/img/favicon/splashscreens/iphoneplus_splash.png"/>
<link rel="apple-touch-startup-image" sizes="1125x2436" href="/static/dkllapp/img/favicon/splashscreens/iphonex_splash.png"/>
<link rel="apple-touch-startup-image" sizes="828x1792" href="/static/dkllapp/img/favicon/splashscreens/iphonexr_splash.png"/>
<link rel="apple-touch-startup-image" sizes="1242x2688" href="/static/dkllapp/img/favicon/splashscreens/iphonexsmax_splash.png"/>
<link rel="apple-touch-startup-image" sizes="1536x2048" href="/static/dkllapp/img/favicon/splashscreens/ipad_splash.png"/>
<link rel="apple-touch-startup-image" sizes="1668x2224" href="/static/dkllapp/img/favicon/splashscreens/ipadpro1_splash.png"/>
<link rel="apple-touch-startup-image" sizes="2048x2732" href="/static/dkllapp/img/favicon/splashscreens/ipadpro2_splash.png"/>
<link rel="apple-touch-startup-image" sizes="1668x2388" href="/static/dkllapp/img/favicon/splashscreens/ipadpro3_splash.png"/>
