{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Pili Pili : Mets du piment dans TV">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'dkllapp/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'dkllapp/img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'dkllapp/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'dkllapp/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#da071f">
<meta name="msapplication-TileColor" content="#da071f">
<meta name="theme-color" content="#ffffff">

<!-- Vendor css -->
<link rel="stylesheet" href="{% static 'dkllapp/miri-ui/src/vendors/@mdi/font/css/materialdesignicons.min.css' %}">
<!-- Base css with customised bootstrap included -->
<link rel="stylesheet" href="{% static 'dkllapp/miri-ui/src/css/miri-ui-kit-free.css' %}">

<!-- Actuellement en prod-->
<link rel="apple-touch-startup-image"
      media="(device-width: 375px)"
      href="/static/dkllapp/img/favicon/splashscreens/iphone6_splash.png"/>
<link rel="apple-touch-startup-image"
      media="(device-width: 320px)"
      href="/static/dkllapp/img/favicon/splashscreens/iphone5_splash.png"/>

<title>Pili Pili</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZEJNMSM90R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZEJNMSM90R');
</script>