<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}

    <div class="mainwrapper" style="padding-left: 15px; padding-right: 15px;">
        <br>
        {% if ligue == 'vide' %}
        {% include 'ligue_vide.html' %}
        <br>
        {% else %}
        <p style="padding-left: 15px;"><b>Dernière notification</b></p>
        <div style="padding-left: 15px; padding-right: 15px;">
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width="60%" style="padding: 10px;">
                            <div style="display: flex; align-items: center;">
                                <img class="picto_mur" src="{% static 'dkllapp/img/kitchen/admin.png' %}">
                                <div style="padding-left: 15px;"><b>Brigade TCL</b></div>
                            </div>
                            <div style="text-align: left; padding-left: 15px; padding-top: 5px;">{{ notif.message }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <p style="padding-left: 15px;"><b>Mes ligues</b></p>
        <div style="padding-left: 15px; padding-right: 15px; display: flex; justify-content: space-evenly;">
            <a type href="{% url 'dkllapp:creation_ligue' %}">
                <button type="button" class="btn btn-danger btn-sm">Créer une ligue</button></a>
            &nbsp &nbsp
            <a href="{% url 'dkllapp:rejoindre_ligue' %}">
                <button type="button" class="btn btn-danger btn-sm">Rejoindre une ligue</button></a>
        </div>
        <br>
        {% for ligue in ligues %}
        <div style="padding-left: 15px; padding-right: 15px;">
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                            <td class="td2" style="padding: 10px;">
                                <div style="display: flex; justify-content: center;">
                                    <div style="padding-left: 15px; width: 40%;">
                                        <b>{{ ligue.ligue__nom }}</b>
                                    </div>
                                    <div style="padding-left: 15px; width: 30%;">YY pts (3/8)</div>
                                    <div style="padding-left: 15px; width: 30%;"><span style="font-size: 12px;">{{ ligue.ligue_id }}</span></div>
                                </div>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        {% endfor %}
        <br>
        <p style="padding-left: 15px;"><b>Mes candidats</b></p>
        <br>
        <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=20% style="padding: 10px;">
                            <span style="font-size: 35px;">🦄</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 1 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if is_poulains %}
            <p><a href="{% url 'dkllapp:choix' 1 False profil %}" class="btn btn-warning display-4" style="min-width: 240px;">Choisis tes Poulains</a></p>
            {% endif %}
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=20% style="padding: 10px;">
                            <span style="font-size: 35px;">🏅</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 2 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if is_podium %}
            <p><a href="{% url 'dkllapp:choix' 2 %}" class="btn btn-warning display-4" style="min-width: 240px;">Choisis ton Podium</a></p>
            {% endif %}
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=20% style="padding: 10px;">
                            <span style="font-size: 35px;">🏆</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 3 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if is_gagnant %}
            <p><a href="{% url 'dkllapp:choix' 3 %}" class="btn btn-warning display-4" style="min-width: 240px;">Choisis ton Gagnant</a></p>
            {% endif %}
            <br>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
