<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper" style="padding-left: 15px; padding-right: 15px;">
        <br>
        <p style="padding-left: 15px;"><b>Dernière notification</b></p>
        <div style="padding-left: 15px; padding-right: 15px;">
            <table class="table2" cellspacing="0">
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width="100%" style="padding: 0px;">
                            <div style="display: flex; align-items: center;
                            justify-content: space-between; padding: 10px;">
                                <div style="display: flex; align-items: center; vertical-align: middle;">
                                    <img class="picto_mur" src="{% static admin_user.img %}">
                                    <b style="padding-left: 15px; font-size: 13px;">
                                        {{ admin_user.user__username }}&nbsp;&nbsp;
                                    </b>
                                </div>
                            </div>
                            <div style="text-align: left; background-color: #3A4040; border-radius: 5px;
                            padding: 10px 0px 10px 10px; ">{{ notif.message }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <p style="padding-left: 15px;"><b>Mes ligues</b></p>
        <div style="padding-left: 15px; padding-right: 15px; display: flex; justify-content: space-evenly;">
            <a type href="{% url 'dkllapp:creation_ligue' %}">
                <button type="button" class="btn btn-danger btn-sm">Créer une ligue</button></a>
            &nbsp &nbsp
            <a href="{% url 'dkllapp:rejoindre_ligue' %}">
                <button type="button" class="btn btn-danger btn-sm">Rejoindre une ligue</button></a>
        </div>
        <br>
        {% for ligue in ligues %}
        <div style="padding-left: 15px; padding-right: 15px;">
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" style="padding: 10px;">
                            <div style="display: flex;">
                                <div style="display: flex; flex-flow: wrap;">
                                    <div style="display: flex; flex-flow: wrap; min-width: 200px; justify-content: space-around; align-items: center; text-align: center;">
                                        <a href="{% url 'dkllapp:mur' ligue.ligue_id %}"><b>{{ ligue.ligue__nom }}</b></a>
                                    </div>
                                    <div style="display: flex; flex-flow: wrap; min-width: 200px; justify-content: space-around; align-items: center; text-align: center;">
                                        <a href="{% url 'dkllapp:resultat' ligue.ligue_id %}" style="color: white;">
                                            <b>{{ ligue.score_user }} 🌶️️</b> &nbsp; <span style="color: #DA071F;"><i class="mdi mdi-podium"></i></span>
                                            {{ ligue.classement_user }}/{{ ligue.taille }}
                                        </a>
                                    </div>
                                    <div style="display: flex; flex-flow: wrap; min-width: 200px; justify-content: space-around; align-items: center; text-align: center;">
                                        <a href="{% url 'dkllapp:equipe' ligue.ligue_id %}">
                                            {% for ligne_equipe in lignes_equipes %}
                                            {% if ligne_equipe.id == ligue.ligue_id %}
                                            <img class="candidat_equipe_ligue" src="{% static ligne_equipe.ligne.candidat__chemin_img %}">
                                            {% endif %}
                                            {% endfor %}
                                        </a>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: space-around; align-items: center; text-align: center;">
                                    <ul class="nav nav-pills nav-pills-icon-text mb-2" style="margin-bottom: 0px !important;" id="myTab2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" style="min-height: 38px;" href="{% url 'dkllapp:mur' ligue.ligue_id %}" aria-selected="true">
                                                <i class="mdi mdi-comment-text-multiple" style="margin: auto; padding: 2px;"></i></a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-pills nav-pills-icon-text mb-2" style="margin-bottom: 0px !important;" id="myTab3" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" style="min-height: 38px;" href="{% url 'dkllapp:resultat' ligue.ligue_id %}" aria-selected="true">
                                                <i class="mdi mdi-podium" style="margin: auto; padding: 2px;"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        {% endfor %}
        <br>
        <p style="padding-left: 15px;"><b>Mes candidats</b></p>
        <br>
        <table class="table2" cellspacing="0" >
            <tbody>
                <tr class="tr2">
                    <td class="td2" width=15% style="padding: 10px;">
                        <span style="font-size: 35px;">🦄</span>
                    </td>
                    <td class="td2" style="padding: 10px;">
                        {% for candidat in choix_user %}
                        {% if candidat.type == 1 %}
                        <img class="candidat_index" src="{% static candidat.candidat__chemin_img %}">
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="td2" width=15% style="padding: 10px;">
                        {% if poulains_ouvert %}
                        <a type href="{% url 'dkllapp:choix' 1 before_creation '1' %}">
                        <button type="button" class="btn btn-danger btn-sm" style="padding: 0px;"><i class="mdi mdi-account-edit" style="font-size: 30px;"></i></button></a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table2" cellspacing="0" >
            <tbody>
                <tr class="tr2">
                    <td class="td2" width=15% style="padding: 10px;">
                        <span style="font-size: 35px;">🏅</span>
                    </td>
                    <td class="td2" style="padding: 10px;">
                        {% for candidat in choix_user %}
                        {% if candidat.type == 2 %}
                        <img class="candidat_index" src="{% static candidat.candidat__chemin_img %}">
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="td2" width=15% style="padding: 10px;">
                        {% if podium_ouvert %}
                        <a type href="{% url 'dkllapp:choix' 2 before_creation '1' %}">
                        <button type="button" class="btn btn-danger btn-sm" style="padding: 0px;"><i class="mdi mdi-account-edit" style="font-size: 30px;"></i></button></a>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table2" cellspacing="0" >
            <tbody>
                <tr class="tr2">
                    <td class="td2" width=15% style="padding: 10px;">
                        <span style="font-size: 35px;">🏆</span>
                    </td>
                    <td class="td2" style="padding: 10px;">
                        {% for candidat in choix_user %}
                        {% if candidat.type == 3 %}
                        <img class="candidat_index" src="{% static candidat.candidat__chemin_img %}">
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="td2" width=15% style="padding: 10px;">
                        {% if gagnant_ouvert %}
                        <a type href="{% url 'dkllapp:choix' 3 before_creation '1' %}">
                        <button type="button" class="btn btn-danger btn-sm" style="padding: 0px;"><i class="mdi mdi-account-edit" style="font-size: 30px;"></i></button></a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <br>
    <br>
    <br>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
