{% load static %}
<ul class="nav nav-pills nav-pills-icon-text mb-2" id="myTab2" role="tablist" style="width: 90%;">
  <li class="nav-item" style="padding-top: 5px; width: 25%;">
    {% if page == 'mur' %}
    <a class="nav-link active" href="{% url 'dkllapp:mur' current_ligue.id %}" aria-selected="true">
        <i class="mdi mdi-comment-text-multiple"></i>Mur</a>
    {% else %}
    <a class="nav-link" href="{% url 'dkllapp:mur' current_ligue.id %}" aria-selected="true">
        <i class="mdi mdi-comment-text-multiple"></i>Mur</a>
    {% endif %}
  </li>
  <li class="nav-item" style="padding-top: 5px; width: 25%;">
    {% if page == 'resultat' %}
    <a class="nav-link active" href="{% url 'dkllapp:resultat' current_ligue.id %}" aria-selected="true">
        <i class="mdi mdi-podium"></i>Résultat</a>
    {% else %}
    <a class="nav-link" href="{% url 'dkllapp:resultat' current_ligue.id %}" aria-selected="true">
        <i class="mdi mdi-podium"></i>Résultat</a>
    {% endif %}
  </li>
  <li class="nav-item" style="padding-top: 5px; width: 25%;">
    {% if page == 'equipe' %}
    <a class="nav-link active" href="{% url 'dkllapp:equipe' current_ligue.id %}" aria-selected="true">
        <i class="mdi mdi-account-group"></i>Equipe</a>
    {% else %}
    <a class="nav-link" href="{% url 'dkllapp:equipe' current_ligue.id %}" aria-selected="true">
        <i class="mdi mdi-account-group"></i>Equipe</a>
    {% endif %}
  </li>
  <li class="nav-item" style="padding-top: 5px; width: 25%;">
    {% if page == 'details' %}
    <a class="nav-link active" href="{% url 'dkllapp:details' current_ligue.id 0 %}" aria-selected="true">
        <i class="mdi mdi-magnify-plus"></i>Détails</a>
    {% else %}
    <a class="nav-link" href="{% url 'dkllapp:details' current_ligue.id 0 %}" aria-selected="true">
        <i class="mdi mdi-magnify-plus"></i>Détails</a>
    {% endif %}
  </li>
</ul>
