<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black" style="background-color: #DA071F;">
    <div class="mainwrapper">
        {% load crispy_forms_tags %}
        <img style="height: 200px;" src="/static/dkllapp/img/favicon/splashscreens/iphone5_splash.png"/>
        <!--Login-->
        <div class="container py-5" style="display: flex; flex-direction: column; justify-content: center; padding-bottom: 0px !important;">
            <a class="navbar-brand" style="height: auto; margin: auto;" href="{% url 'dkllapp:index' %}">
                <img style="height: 160px;" src="/static/dkllapp/img/pilixpili_login.png" alt="Pili Pili">
            </a>
            <br>
            <h2 style="color: white; font-size: 20px; margin: 0 10% 0 10%;">Connexion</h2>
            <form method="POST" style="width: 80%; margin: 0 10% 5px 10%;">
                {% csrf_token %}
                <div id="div_id_username" class="control-group" style="padding-bottom: 5px;">
                    <div class="controls">
                        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                               maxlength="150" class="textinput textInput btn-light btn-sm" placeholder="Identifiant" required=""
                               id="id_username" style="width: 100%; border-radius: 7px;">
                    </div>
                </div>
                <div id="div_id_password" class="control-group">
                    <div class="controls">
                        <input type="password" name="password" autocomplete="current-password"
                               class="textinput textInput btn-light btn-sm" placeholder="Mot de Passe" required=""
                               id="id_password" style="width: 100%; border-radius: 7px;">
                    </div>
                </div>
                <br>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button class="btn btn-danger" style="border: white solid 1px;" type="submit">Login</button>
                    <a href="{% url 'dkllapp:reinitialiser_mdp' '1' %}" style="color: white; text-decoration: underline; font-size: 12px; padding: 2px; text-align: right;">Mot de passe oublié ?</a>
                </div>
            </form>
            <br>
            <p class="text-center" style="font-size: 15px;">Pas encore inscrit ?
                <br><a href="{% url 'dkllapp:register' '1' %}" style="color: white; text-decoration: underline;">Créer un compte</a>
            </p>
        </div>
        <br>
        <br>
    </div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>