<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}

    <div class="mainwrapper">
        <br>
        <div class="title" style="margin-left: 20px; margin-right: 20px; max-width: 800px; margin-left: auto; margin-right: auto;">
            <br>
            <p class="titre_rouge"><b>{{ current_ligue.nom }}</b></p>
            <p style="padding-left: 15px;"><b>Dernière notification</b></p>
            <div style="padding-left: 15px; padding-right: 15px;">
                <table class="table2" cellspacing="0" >
                    <tbody>
                        <tr class="tr2">
                            <td class="td2" width="60%" style="padding: 10px;">
                                <div style="display: flex; align-items: center;">
                                    <img class="picto_mur" src="{% static 'dkllapp/img/kitchen/admin.png' %}">
                                    <div style="padding-left: 15px;"><b>Brigade TCL</b></div>
                                </div>
                                <div style="text-align: left; padding-left: 15px; padding-top: 5px;">{{ notif.message }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <p style="padding-left: 15px;"><b>Mur</b></p>
            <br>
            <form id="form2" action="" method="POST">
                {{ form2.csrf_token }}
                <div style="padding-left: 15px; padding-right: 15px;">
                {% for message in mur %}
                    <table class="table2" cellspacing="0" >
                        <tbody>
                            <tr class="tr2">
                                <td class="td2" width="60%" style="padding: 10px;">
                                    <div style="display: flex; align-items: center;">
                                        <img class="picto_mur" src="{% static message.user__img %}">
                                        <div style="padding-left: 15px;"><b>{{ message.user__user__username }}</b></div>
                                        <div style="padding-left: 15px;">{{ message.insert_datetime|date:"d/m/Y h:i"  }}</div>
                                    </div>
                                    <div style="text-align: left; padding-left: 15px; padding-top: 5px;">{{ message.message }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <br>

                {% endfor %}

                </div>
                <br>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class=" bottom_menu fixed-bottom">{% include 'dkllapp/ligue_menu.html' %}</div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
