<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'dkllapp/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dkllapp/css/form_choix.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dkllapp/css/autres-contenus.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dkllapp/css/slider.css' %}">
</head>
<body>
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <button type="button" class="collapsible_block" id="user">
            <div class="container_contestant_small">
                <img src="{% static 'dkllapp/img/kitchen/admin.png' %}" class="picto_img">
            </div>
            <b>{{ user.username }}</b>
            &nbsp; <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;">

        </button>
        <div class="content">
            <br>
            <p style="padding-left: 10px;">Login : <b>{{ user.username }}</b></p>
            <p style="padding-left: 10px;">Adresse e-mail : <b>{{ user.email }}</b></p>
            <div style="display: flex; padding-left: 10px;"><form id="form" action="" method="POST">
                {{ form.csrf_token }}
                <label class="switch" style="margin-bottom: 0px;">
                    {% if user.mail == True %}
                        <input type="checkbox" checked id='mail' name='mail' onchange="document.getElementById('form').submit()"><span class="slider round"></span>
                    {% else %}
                        <input type="checkbox" id='mail' name='mail' onchange="document.getElementById('form').submit()"><span class="slider round" style="background-color: #272B2C;"></span>
                    {% endif %}
                </label>
            </form>
            <p style="padding-left: 10px;">Je souhaite recevoir les mails de la Tribu</p></div>

            <a href="{% url 'dkllapp:nouveau_mdp' %}" class="btn btn-warning display-4" style="min-width: 240px;">Changer mon mot de passe</a>
            <a href="{% url 'dkllapp:picto' %}" class="btn btn-warning display-4" style="min-width: 240px;">Changer mon picto</a>
            <a href="/logout" class="btn btn-warning display-4" style="min-width: 240px; background-color: #62B8B1;">Déconnexion</a>
        </div>
        <button type="button" class="collapsible_block" id="ligues" style="margin-top: 10px;">
            <div class="container_contestant_small" style="width: 30px;">
                <span class="contestant_img_small" style="font-size: 20px; left: 10px; ">👑</span>
            </div>
            Mes Ligues
            <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;">
        </button>
        <div class="content">
            <br>
            {% for ligue in ligues %}
            <p style="padding-left: 10px;">{{ ligue.nom }} : <b>{{ ligue.id }}</b></p>
            {% endfor %}
            <br>
            <a href="{% url 'dkllapp:creation_ligue' %}" class="btn btn-warning display-4" style="min-width: 240px;">Créer ma ligue</a>
            <a href="{% url 'dkllapp:rejoindre_ligue' %}" class="btn btn-warning display-4" style="min-width: 240px;">Rejoindre une ligue</a>
        </div>
        <button type="button" class="collapsible_block" id="candidats" style="margin-top: 10px;">
            <div class="container_contestant_small" style="width: 30px;">
                <span class="contestant_img_small" style="font-size: 20px; left: 10px; ">🦄</span>
            </div>
            Mes Candidats
            <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;">
        </button>
        <div class="content">
            <div style="display: flex;">
                <div class="container_contestant_small" style="width: 30px;">
                    <span class="contestant_img_small" style="font-size: 20px; left: 10px; ">🦄</span>
                </div>
                {% for candidat in candidats %}
                {% if candidat.type == 1 %}
                <div class="container_contestant_small" style="margin: 10px 2px 10px 2px;">
                    <img src={{candidat.chemin_img}} class="contestant_img_small">
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% if is_poulains %}
            <p><a href="{% url 'dkllapp:choix' 1 False profil %}" class="btn btn-warning display-4" style="min-width: 240px;">Choisis tes Poulains</a></p>
            {% endif %}
            <br>
            <div class="container_contestant_small" style="width: 30px;">
                <span class="contestant_img_small" style="font-size: 20px; left: 10px;">🏅</span>
            </div>
            {% for candidat in candidats %}
            {% if candidat.type == 2 %}
            <div class="container_contestant_small">
                <img src={{candidat.chemin_img}} class="contestant_img_small">
            </div>
            {% endif %}
            {% endfor %}
            {% if is_podium %}
            <p><a href="{% url 'dkllapp:choix' 2 %}" class="btn btn-warning display-4" style="min-width: 240px;">Choisis ton Podium</a></p>
            {% endif %}
            <br>
            <div class="container_contestant_small" style="width: 30px;">
                <span class="contestant_img_small" style="font-size: 20px; left: 10px;">🏆</span>
            </div>
            {% for candidat in candidats %}
            {% if candidat.type == 3 %}
            <div class="container_contestant_small">
                <img src={{candidat.chemin_img}} class="contestant_img_small">
            </div>
            {% endif %}
            {% endfor %}
            {% if is_gagnant %}
            <p><a href="{% url 'dkllapp:choix' 3 %}" class="btn btn-warning display-4" style="min-width: 240px;">Choisis ton Gagnant</a></p>
            {% endif %}
            <br>
        </div>
        <br>
        <p style="padding-left: 20px;">Une question ? Contacte-nous à l'adresse <a href="mailto:kauhlantaligue@gmail.com" style="min-width: 240px; color: white; text-decoration: underline;">kauhlantaligue@gmail.com</a>.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    {% include 'dkllapp/body_scripts.html' %}
    <script src="{% static 'dkllapp/js/collapsible-standard.js' %}"></script>
    <script src="{% static 'dkllapp/js/share.js' %}"></script>
    <script src="{% static 'dkllapp/js/url-uncollapse.js' %}"></script>
</body>
</html>
