<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
            <div style="padding-left: 30px;">
                <div style="display: flex; align-items: center;">
                    <img class="picto_profile" src="{% static 'dkllapp/img/kitchen/admin.png' %}">
                    <b style="padding-left: 15px;">{{ user.username }}</b>
                </div>
                <br>
                <p>@ : <b>{{ user.email }}</b></p>
                <div style="display: flex;">
                    <form id="form" action="" method="POST">
                        <div class="form-check">
                        {{ form.csrf_token }}
                            {% if user.mail == True %}
                                <input class="form-check-input" type="checkbox" checked id='mail' name='mail' onchange="document.getElementById('form').submit()">
                                <label class="form-check-label" for="mail">Je souhaite recevoir les mails de la Tribu</label>
                            {% else %}
                                <input class="form-check-input" type="checkbox" id='mail' name='mail' onchange="document.getElementById('form').submit()">
                                <label class="form-check-label" for="mail">Je souhaite recevoir les mails de la Tribu</label>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <br>
                <div class="btn-profil-container">
                        <a href="{% url 'dkllapp:nouveau_login' %}">
                            <button type="button" class="btn btn-danger btn-sm" style="width: 100%;">Changer mon identifiant</button>
                        </a>
                        <a href="{% url 'dkllapp:nouveau_mdp' %}">
                            <button type="button" class="btn btn-danger btn-sm" style="width: 100%;">Changer mon mot de passe</button>
                        </a>
                        <a href="{% url 'dkllapp:picto' %}">
                            <button type="button" class="btn btn-danger btn-sm" style="width: 100%;">Changer mon picto</button>
                        </a>
                        <a href="/logout">
                            <button type="button" class="btn btn-warning btn-sm" style="width: 100%;"><b>Déconnexion</b></button>
                        </a>
                </div>
        </div>
        <button type="button" class="collapsible_block" id="ligues" style="margin-top: 10px;">
            <div style="width: 30px;">
                <span style="font-size: 20px; left: 10px; ">👑</span>
            </div>
            Mes Ligues
            <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;">
        </button>
        <div class="content">
            <br>
            <div style="padding-left: 15px; padding-right: 15px; display: flex; justify-content: space-evenly;">
                <a type href="{% url 'dkllapp:creation_ligue' %}">
                    <button type="button" class="btn btn-danger btn-sm">Créer une ligue</button></a>
                &nbsp &nbsp
                <a href="{% url 'dkllapp:rejoindre_ligue' %}">
                    <button type="button" class="btn btn-danger btn-sm">Rejoindre une ligue</button></a>
            </div>
            <br>
            {% for ligue in ligues %}
            <div style="padding-left: 15px; padding-right: 15px;">
                <table class="table2" cellspacing="0" >
                    <tbody>
                        <tr class="tr2">
                            <td class="td2" style="padding: 10px;">
                                <div style="display: flex; justify-content: center;">
                                    <div style="padding-left: 15px; width: 40%;">
                                        <b>{{ ligue.ligue__nom }}</b>
                                    </div>
                                    <div style="padding-left: 15px; width: 30%;">YY pts (3/8)</div>
                                    <div style="padding-left: 15px; width: 30%;"><span style="font-size: 12px;">{{ ligue.ligue_id }}</span></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            {% endfor %}
        </div>

        <button type="button" class="collapsible_block" id="candidats" style="margin-top: 10px;">
            <div style="width: 30px;">
                <span style="font-size: 20px; left: 10px; ">🦄</span>
            </div>
            Mes Candidats
            <img src="{% static 'dkllapp/img/draw.png' %}" alt="↓" style="width: 15px; height: 15px; margin-left: auto; margin-right: 5px;">
        </button>
        <div class="content">
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=20% style="padding: 10px;">
                            <span style="font-size: 35px;">🦄</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 1 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if is_poulains %}

            <p><a href="{% url 'dkllapp:choix' 1 False profil %}" class="btn btn-warning display-4" style="min-width: 240px;">Choisis tes Poulains</a></p>
            {% endif %}
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=20% style="padding: 10px;">
                            <span style="font-size: 35px;">🏅</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 2 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if is_podium %}
            <p><a href="{% url 'dkllapp:choix' 2 %}" class="btn btn-warning display-4" style="min-width: 240px;">Choisis ton Podium</a></p>
            {% endif %}
            <br>
            <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width=20% style="padding: 10px;">
                            <span style="font-size: 35px;">🏆</span>
                        </td>
                        <td class="td2" style="padding: 10px;">
                            {% for candidat in choix_user %}
                            {% if candidat.type == 3 %}
                            <img class="candidat_profile" src="{% static candidat.candidat__chemin_img %}">
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if is_gagnant %}
            <p><a href="{% url 'dkllapp:choix' 3 %}" class="btn btn-warning display-4" style="min-width: 240px;">Choisis ton Gagnant</a></p>
            {% endif %}
            <br>
        </div>
        <br>
        <p style="padding-left: 20px;">Une question ? Contacte-nous à l'adresse <a href="mailto:taupechefligue@gmail.com" style="min-width: 240px; color: white; text-decoration: underline;">taupechefligue@gmail.com</a>.</p>
        <br>
        <br>
    </div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
