<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black" style="background-color: #DA071F;>
    <div class="mainwrapper">
        {% load crispy_forms_tags %}
        <!--Login-->
        <div class="container py-5" style="display: flex; flex-direction: column; justify-content: center; padding-top: 20px !important; padding-bottom: 0px !important;">
            <a class="navbar-brand" style="height: auto; margin: auto;" href="{% url 'dkllapp:index' %}">
                <img style="height: 100px;" src="/static/dkllapp/img/pilixpili_login.png" alt="Pili Pili">
            </a>
            <br>
            <form method="POST" style="width: 240px; margin: auto;">
                {% csrf_token %}
                <div id="div_id_username" class="control-group">
                    <label for="id_username" class="control-label requiredField" style="margin-bottom: 0px;">Identifiant<span class="asteriskField">*</span>&nbsp;<span id="hint_id_username" style="font-size: 10px">Alphanumérique et @ . + - _</span></label>
                    <div class="controls">
                        <input type="text" name="username" maxlength="150" autofocus="" class="textinput textInput" style="margin-bottom: 5px;" required="" id="id_username">
                    </div>
                </div>
				<div id="div_id_email" class="control-group">
					<label for="id_email" class="control-label requiredField" style="margin-bottom: 0px;">Email<span class="asteriskField">*</span> </label>
					<div class="controls">
						<input type="email" name="email" class="emailinput" style="margin-bottom: 5px;" required="" id="id_email">
					</div>
				</div>
				<div id="div_id_password1" class="control-group">
					<label for="id_password1" class="control-label requiredField" style="margin-bottom: 0px;">Mot de Passe<span class="asteriskField">*</span>&nbsp;<span id="hint_id_password1" style="font-size: 10px">9 caractères min.</span></label>
					<div class="controls">
						<input type="password" name="password1" autocomplete="new-password" class="textinput textInput" style="margin-bottom: 5px;" required="" id="id_password1">
					</div>
				</div>
				<div id="div_id_password2" class="control-group">
					<label for="id_password2" class="control-label requiredField" style="margin-bottom: 0px;">Confirmation<span class="asteriskField">*</span>&nbsp;<span id="hint_id_password2" class="help-block" style="font-size: 10px">Identique au précedent.</span></label>
					<div class="controls">
                        <input type="password" name="password2" autocomplete="new-password" class="textinput textInput" style="margin-bottom: 10px;" required="" id="id_password2">
					</div>
				</div>
                {% if messages %}
                <br>
                <ul class="messages">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                </ul>
                {% endif %}
                <button class="btn btn-danger" style="border: white solid 1px;" type="submit">S'inscrire</button>
            </form>
            <br>
            <p class="text-center" style="font-size: 15px;">Tu as déjà un compte ?
                <br><a href="/login" style="color: white; text-decoration: underline;">Se connecter</a>
            </p>
        </div>
    </div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>