                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Règles</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'dkllapp:generales' %}" class="dropdown-item">Générales</a>
                        <a href="{% url 'dkllapp:bareme' %}" class="dropdown-item">Barême</a>
                        <a href="{% url 'dkllapp:candidats' %}" class="dropdown-item">Candidats 2022</a>
                        <a href="{% url 'dkllapp:faq' %}" class="dropdown-item">FAQ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dkllapp:classement_general' %}"><i class="mdi mdi-podium"></i></a></li>