<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
            <p class="titre_rouge"><b>Bonus</b></p>
            <div style="padding-left: 15px; padding-right: 15px;">
                <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        <td class="td2" width="20%" style="display: flex;
                        align-items: center; text-aling: center; justify-content: center;
                        width: 100%; height: 100%;
                        padding: 10px; background-color: #DA071F;">
                             Total : {{ points_feu.feu }} 🔥
                        </td>
                    </tr>
                </tbody>
                </table>
                <br>
                {% for question_plus in questions_plus %}
                <table class="table2" cellspacing="0" >
                <tbody>
                    <tr class="tr2">
                        {% if question_plus.repondu %}
                        <!-- prono avec réponse officielle -->
                            {% if question_plus.guess == None %}
                            <!-- prono sans réponse user -->
                                <!-- 3) prono avec réponse officielle et pas de réponse du user -->
                                <td class="td2" width="35%" style="padding: 10px; ">
                                    <p>{{ question_plus.question.enonce }}</p>
                                </td>
                                <td class="td2" width="55%" style="padding: 10px; ">
                                    <div style="display: flex; flex-direction: row;">
                                        <div>
                                            <!--<span style="font-size: 8px;">Bonne réponse :</span>-->
                                            <i class="mdi mdi-check-circle"></i>
                                            {% for proposition in question_plus.propositions %}
                                            {% if proposition.pertinence %}
                                            <button class="btn btn-outline-light btn-sm" style="margin: 5px;">{{ proposition.texte }}</button>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                                <td class="td2" width="10%" style="background-color: #272B2C;">
                                        <div style="display: flex; align-items: center; text-align: center; justify-content: center; padding: 10px;">
                                            0
                                        </div>
                                    </td>
                            {% else %}
                            <!-- prono avec réponse user -->
                                {% if question_plus.guess.proposition__pertinence %}
                                    <!-- 1) prono avec réponse officielle et bonne réponse du user -->
                                    <td class="td2" width="35%" style="padding: 10px; ">
                                        <p>{{ question_plus.question.enonce }}</p>
                                    </td>
                                    <td class="td2" width="55%" style="padding: 10px; ">
                                        <div style="display: flex; flex-direction: row;">
                                            <div>
                                                <!--<span style="font-size: 8px;">Ta réponse :</span>-->
                                                <i class="mdi mdi-account-check"></i>
                                                {% for proposition in question_plus.propositions %}
                                                {% if question_plus.guess.proposition_id == proposition.id %}
                                                <button class="btn btn-outline-light btn-sm" style="margin: 5px; background-color: #009051;">{{ proposition.texte }}</button>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                            <div>
                                                <!--<span style="font-size: 8px;">Bonne réponse :</span>-->
                                                <i class="mdi mdi-check-circle"></i>
                                                {% for proposition in question_plus.propositions %}
                                                {% if proposition.pertinence %}
                                                <button class="btn btn-outline-light btn-sm" style="margin: 5px;">{{ proposition.texte }}</button>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td2" width="10%" style="background-color: #009051;">
                                        <div style="display: flex; align-items: center; text-align: center; justify-content: center; padding: 10px;">
                                            +{{question_plus.question.bonus}}
                                        </div>
                                    </td>
                                {% else %}
                                <!-- 2) prono avec réponse officielle et mauvaise réponse du user -->
                                    <td class="td2" width="35%" style="padding: 10px; ">
                                        <p>{{ question_plus.question.enonce }}</p>
                                    </td>
                                    <td class="td2" width="55%" style="padding: 10px; ">
                                        <div style="display: flex; flex-direction: row;">
                                            <div>
                                                <!--<span style="font-size: 8px;">Ta réponse :</span>-->
                                                <i class="mdi mdi-account-alert"></i>
                                                {% for proposition in question_plus.propositions %}
                                                {% if question_plus.guess.proposition_id == proposition.id %}
                                                <button class="btn btn-outline-light btn-sm" style="margin: 5px; background-color: #941B30;">{{ proposition.texte }}</button>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div style="display: flex; flex-direction: row;">
                                            <div>
                                                <!--<span style="font-size: 8px;">Bonne réponse :</span>-->
                                                <i class="mdi mdi-check-circle"></i>
                                                {% for proposition in question_plus.propositions %}
                                                {% if proposition.pertinence %}
                                                <button class="btn btn-outline-light btn-sm" style="margin: 5px;">{{ proposition.texte }}</button>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td2" width="10%" style="background-color: #941B30;">
                                        <div style="display: flex; align-items: center; text-align: center; justify-content: center; padding: 10px;">
                                            {{question_plus.question.malus}}
                                        </div>
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                        <!-- prono sans réponse officielle -->
                        <td class="td2" width="50%" style="padding: 10px; ">
                            <p>{{ question_plus.question.enonce }}</p>
                            <div style="display: flex; flex-flow: row wrap;">
                                {% for proposition in question_plus.propositions %}
                                {% if question_plus.guess.proposition_id == proposition.id %}
                                <button class="btn btn-light btn-sm" style="margin: 5px;">{{ proposition.texte }}</button>
                                {% else %}
                                <button class="btn btn-outline-light btn-sm" style="margin: 5px;">{{ proposition.texte }}</button>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
                </table>
                <br>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class=" bottom_menu fixed-bottom">{% include 'dkllapp/pronos_menu.html' %}</div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
