{% load static %}
<header class="miri-ui-kit-header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-on-scroll">
        <div style = "width: 150px; height: auto;">
            <a class="navbar-brand" style="height: auto;" href="{% url 'dkllapp:index' %}">
                <img style="height: 40px;" src="/static/dkllapp/img/icon-long.png" alt="Kauh Lanta Ligue">
            </a>
        </div>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if isadmin == True %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dkllapp:admin' %}">Admin</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Ligues</a>
                    <div class="dropdown-menu">
                        {% for lig in ligues %}
                        <a href="{% url 'dkllapp:mur' lig.ligue_id %}" class="dropdown-item">{{ lig.ligue__nom }}</a>
                        {% endfor %}
                    </div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dkllapp:profil' %}">Mon Profil</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dkllapp:classement_general' %}">Classement</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Règles du jeu</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'dkllapp:generales' %}" class="dropdown-item">Générales</a>
                        <a href="{% url 'dkllapp:bareme' %}" class="dropdown-item">Barême</a>
                        <a href="{% url 'dkllapp:candidats' %}" class="dropdown-item">Candidats</a>
                        <a href="{% url 'dkllapp:faq' %}" class="dropdown-item">FAQ</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>