<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <div style="height: 600px">
            <script async src="https://embed.toucantoco.guru/scripts/embedLauncher.js?id=6da3e7d5-dc0c-4482-b8af-fa122b80ccb9&compact=true" type="text/javascript"></script>
        </div>
    </div>
    <div class=" bottom_menu fixed-bottom">{% include 'dkllapp/stat_menu.html' %}</div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
