<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
            <p class="titre_rouge"><b>Statistiques</b></p>
            <p>Ici, à venir, un Toucan </p>

            <iframe style="border: 0; overflow: hidden;" frameBorder="0" height="100%" width="100%"
                    src="https://embed.toucantoco.guru/embed.html?id=7ff9133d-de9e-4503-98f5-0676b2e004d7&stage=staging">
            </iframe>
        </div>
    </div>
    <br>
    <br>
    <br>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
