<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper">
        <br>
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
            <p class="titre_rouge"><b>Statistiques</b></p>
            <p>Ici, à venir, un embedded Toucan</p>

            <iframe style="border: 0; overflow: hidden;" frameBorder="0" height="100%" width="100%"
                    src="https://training-2020.toucantoco.com/embed.html?id=896cef68-b92c-42cf-a97f-cbeeeb04aea1&title=true&stage=staging">
            </iframe>
        </div>
    </div>
    <br>
    <br>
    <br>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
