<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'dkllapp/head.html' %}
</head>
<body class="bg-gradient-black">
    {% include 'dkllapp/section_menu.html' %}
    <div class="mainwrapper" style="">
        <div style="height: 600px">
            <script async src="https://embed.toucantoco.guru/scripts/embedLauncher.js?id=7ff9133d-de9e-4503-98f5-0676b2e004d7&compact=true" type="text/javascript"></script>
        </div>
        <br>
        <div style="height: 600px">
            <script async src="https://embed.toucantoco.guru/scripts/embedLauncher.js?id=6da3e7d5-dc0c-4482-b8af-fa122b80ccb9&compact=true" type="text/javascript"></script>
        </div>
        <br>
        <div style="height: 600px">
            <script async src="https://embed.toucantoco.guru/scripts/embedLauncher.js?id=a3a49663-c2f4-4797-9607-9e6db0024caa&height=190px&width=320px&compact=true" type="text/javascript"></script>
        </div>
        <br>
        <div style="height: 600px">
            <script async src="https://embed.toucantoco.guru/scripts/embedLauncher.js?id=b04597ec-e8d9-4442-af3f-3b3ee0cf5f8d&height=190px&width=320px&compact=true" type="text/javascript"></script>
        </div>
    </div>
    {% include 'dkllapp/body_scripts.html' %}
</body>
</html>
